#quickSearch{
    /* height:600px; */
    /* border:5px dotted blue; */
    width:80%;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.quickHeading{
    color:#3b2632;
    font-size:30px;
    font-weight:bold;
    display: block;
    margin-left: 2%;
}

.quickHeading:hover{
    font-size:45px;
    color:green
}

.quickSubHeading{
    font-size:20px;
    color:gray;
    line-height: 2;
    margin-left: 2%;
}

#tileBox{
    display: flex;
    flex-wrap: wrap;
}

.tileContainer{
    height:180px;
    width:30%;
    margin-left: 2%;
    margin-top: 3%;
    display: flex;
    box-shadow: 10px 20px 10px #3b2632;
    animation: dance 15s infinite;
}

@keyframes dance{
    0%{
        transform:rotate(-5deg)
    }
    25%{
        transform:rotate(0deg)
    }
    40%{
        transform:scale(1.1)
    }
    50%{
        transform:rotate(5deg)
    }
    75%{
        transform:rotate(0deg)
    }
    100%{
        transform:rotate(-5deg)
    }
    
}

.tileContainer:hover{
    transform:scale(1.1)
    /* transform:skewY(30deg);
    transform:rotate(30deg) */
    /* transform:translate(100px, 200px) */
}

.tileComponent1{
    width:52%;
}

.tileComponent1 > img{
    width: 100%;
    height: 100%;
   
}

.tileComponent2{
    width:45%;
    margin-left: 3%;
    margin-top: 15%;
}

.compHeading{
    font-size: 25px;
    font-weight: bold;
}

.compHeading > a{
    color:#3b2632 !important;
}

.compSubHeading{
    font-size: 20px;
    color:gray
}